In [7]:
import pandas as pd

In [8]:
dataPython = pd.read_csv('data/python/result.csv')
dataR = pd.read_csv('data/r/result.csv')

In [9]:
data = pd.concat([dataPython, dataR])
data

      Unnamed: 0      Category Language    Lib  Year  Month  NewCommers
0              0  data-science   python  NumPy  2009      1           0
1              1  data-science   python  NumPy  2009      2           0
2              2  data-science   python  NumPy  2009      3           0
3              3  data-science   python  NumPy  2009      4           0
4              4  data-science   python  NumPy  2009      5           0
...          ...           ...      ...    ...   ...    ...         ...
5287        5287        others        r  haven  2017      8          80
5288        5288        others        r  haven  2017      9          58
5289        5289        others        r  haven  2017     10           0
5290        5290        others        r  haven  2017     11           0
5291        5291        others        r  haven  2017     12           0

[10476 rows x 7 columns]

In [10]:
data.to_csv('data/result.csv', index=False)